.main1 {
    display: inline-block;
    width: 1300px;
    height: 105px;
    margin-left: calc(50% - 650px);
    text-align: center;
 }

.sekcija1 {
    height: 910px;
    background-color: white;
    text-align: center;
}

.paragrafas1 {
    /* margin-top: 35px; */
    position: relative;
    top: 60px;
    height: 50px;
    font-size: 50px;
    line-height: 45px;
}

.request-demo2 {
    margin-top: 95px;
    width: 170px;
    height: 55px;
    border-radius: 4.5px;
    color: white;
    font-size: 17px;
    background-color: #9A54BC;
    border: solid #9A54BC;
}

.nuotrauku-deliojimas1 > img {
    position: absolute;
}

.nuotrauka1 {
    margin-top: 50px;
    width: 600px;
    margin-left: -300px;
}

.nuotrauka2 {
    margin-top: 80px;
    width: 354px;
    margin-left: -177px;
}

.nuotrauka3 {
    margin-top: 96px;
    width: 200px;
    height: 378px;
    margin-left: -100px;
}

.nuotrauka4 {
    margin-top: 265px;
    width: 140px;
    margin-left: -70px;
}

.sekcija2 {
    height: 375px;
    background-color: white;
}

.paragrafas2 {
    position: relative;
    top: 75px;
    height: 35px;
    font-size: 35px;
    line-height: 45px;
}

.nuotrauku-deliojimas2 > img { 
    margin-top: 145px;
    margin-right: 80px;
    height: 105px;
}

.nuotrauku-deliojimas2 > img:last-child {
    margin-right: 0;
}

.sekcija3 {
    height: 700px;
    background-color: white;
}

.paragrafas3 {
    position: relative;
    top: 65px;
    height: 35px;
    font-size: 35px;
    line-height: 45px;
}

.nuotrauka10 {
    margin-bottom: 70px;
    width: 400px;
    height: 420px;
    margin-right: 190px;
}

.nuotrauka11 {
    width: 255px;
    height: 500px;
}

.sekcija4 {
    height: 800px;
    background-color: white;
}

.paragrafas4 {
    position: relative;
    top: 15px;
    height: 35px;
    font-size: 35px;
    line-height: 45px;
}
.paragrafas5 {
    position: relative;
    top: 30px;
    height: 20px;
    font-size: 20px;
    line-height: 45px;
}

.sekcija5 {
    height: 375px;
    background-color: gray;
}